<div class="ticket_item" style="width:400px">
    <div class="ticket_header1">
        <h1 style="font-size:1.5rem;"><b>Mingalar Cinema</b></h1>
        <p
            style="border-bottom:1px solid gray;line-height:2rem;margin-bottom:0.5rem;border-top:1px solid gray;margin-top:0.5rem;">
            <span>Token</span>:
        </p>
        <p><span>Branch </span>:</p>
        <p><span>Room </span>:</p>
        <h5></h5>
    </div>
    <div class="ticket_header2">
        <p>Date : <span></span></p>
        <p>Show Time : <span></span></p>
    </div>
    <div class="ticket_body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Seat</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Total</b></td>
                    <td colspan="2"><b></b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ticket_footer">
        <p></p>
    </div>
</div>